html { box-sizing: border-box; }
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
  padding:0;
  //background-color:rgba(255,255,255,1);
  background-image: radial-gradient(
    circle,
    rgba(173,145,155, 1),
    rgba(255,255,255, 1)
  )
}
#container {
  position:relative;
  height:100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(235,222,206,.5);
}

$hc-dia: 43vw;
$hc-rad: 21.5vw;
$hc-grad-col-begin: rgba(255, 195, 184, .5);
$hc-grad-col-end: rgba(255, 195, 184, .05);
$r-long: 72vw;
$r-short: 25vw;

.rect {
  position: absolute;
  background-color: rgba(240, 231, 216, .25);
}
.hr {
  width: $r-long;
  height: $r-short;
}
.hr1 {
  top: 44vw;
  left: 19vw;
  z-index: 0;
}
.hr2 {
  top: 53vw;
  left: 6vw;
  z-index: 5;
}
.hr3 {
  top: 97vw;
  left: 25vw;
  z-index: 10;
}
.hr4 {
  top: 116vw;
  left: 3vw;
  z-index: 15;
}
.vr {
  width: $r-short;
  height: $r-long;
  z-index: 20;
}

.vr1 {
  top: 22vw;
  left: 9vw;
  z-index: 25;
}

.vr2 {
  top: 9vw;
  left: 38vw;
  z-index: 30;
}

.vr3 {
  top: 38vw;
  left: 56vw;
  z-index: 35;
}

.vr4 {
  top: 56vw;
  left: 19vw;
  z-index: 40;
}

.vr5 {
  top: 50vw;
  left: 66vw;
  z-index: 45;
}

.vr6 {
  top: 103vw;
  left: 38vw;
  z-index: 50;
}

.half-circle {
  position:absolute;
  // background:rgba(255, 195, 184, .4);
}
.hc-vert {
  height: $hc-rad;
  width: $hc-dia;
}
.hc-horz {
  height: $hc-dia;
  width: $hc-rad;
}
.hc-down {
  border-radius: 0 0 $hc-rad $hc-rad;
  background-image: linear-gradient(
      to top,
      $hc-grad-col-begin,
      $hc-grad-col-end
    );
}
.hc-up {
  border-radius: $hc-rad $hc-rad 0 0;
  background-image: linear-gradient(
      to bottom,
      $hc-grad-col-begin,
      $hc-grad-col-end
    );
}
.hc-left {
  border-radius: $hc-dia 0 0 $hc-dia;
  background-image: linear-gradient(
      to right,
      $hc-grad-col-begin,
      $hc-grad-col-end
    );
}
.hc-right {
  border-radius:  0 $hc-dia $hc-dia 0;
  background-image: linear-gradient(
      to left,
      $hc-grad-col-begin,
      $hc-grad-col-end
    );
}
.hc1 {
  top: 19vw;
  left: 16vw;
  z-index: 55;
}
.hc2 {
  top: 56vw;
  left: 44vw;
  z-index: 60;
}
.hc3 {
  top: 91vw;
  left: 19vw;
  z-index: 65;
}
.hc4 {
  top: 134vw;
  left: 31vw;
  z-index: 70;
}
.hc5 {
  top: 103vw;
  left: 72vw;
  z-index: 2; //2; 75;
}
